<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElementBitLabApp</title>


    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="apple-touch-icon" sizes="60x60" href="~/ConvexTemplate/app-assets/img/ico/apple-icon-60.png">
        <link rel="apple-touch-icon" sizes="76x76" href="~/ConvexTemplate/app-assets/img/ico/apple-icon-76.png">
        <link rel="apple-touch-icon" sizes="120x120" href="~/ConvexTemplate/app-assets/img/ico/apple-icon-120.png">
        <link rel="apple-touch-icon" sizes="152x152" href="~/ConvexTemplate/app-assets/img/ico/apple-icon-152.png">
        <link rel="shortcut icon" type="image/x-icon" href="~/ConvexTemplate/app-assets/img/ico/favicon.ico">
        <link rel="shortcut icon" type="image/png" href="~/ConvexTemplate/app-assets/img/ico/favicon-32.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/fonts/feather/style.min.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/fonts/simple-line-icons/style.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/fonts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/vendors/css/perfect-scrollbar.min.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/vendors/css/prism.min.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/vendors/css/chartist.min.css">

        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/vendors/css/perfect-scrollbar.min.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/vendors/css/prism.min.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/vendors/css/tables/datatable/datatables.min.css">
        <link href="https://cdn.jsdelivr.net/npm/handsontable@7.0.3/dist/handsontable.full.min.css" rel="stylesheet" media="screen">

        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/css/app.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="apple-touch-icon" sizes="60x60" href="~/ConvexTemplate/app-assets/img/ico/apple-icon-60.png">
        <link rel="apple-touch-icon" sizes="76x76" href="~/ConvexTemplate/app-assets/img/ico/apple-icon-76.png">
        <link rel="apple-touch-icon" sizes="120x120" href="~/ConvexTemplate/app-assets/img/ico/apple-icon-120.png">
        <link rel="apple-touch-icon" sizes="152x152" href="~/ConvexTemplate/app-assets/img/ico/apple-icon-152.png">
        <link rel="shortcut icon" type="image/x-icon" href="~/ConvexTemplate/app-assets/img/ico/favicon.ico">
        <link rel="shortcut icon" type="image/png" href="~/ConvexTemplate/app-assets/img/ico/favicon-32.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/fonts/feather/style.min.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/fonts/simple-line-icons/style.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/fonts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/vendors/css/perfect-scrollbar.min.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/vendors/css/prism.min.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/vendors/css/chartist.min.css">

        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/vendors/css/perfect-scrollbar.min.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/vendors/css/prism.min.css">
        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/vendors/css/tables/datatable/datatables.min.css">
        <link href="https://cdn.jsdelivr.net/npm/handsontable@7.0.3/dist/handsontable.full.min.css" rel="stylesheet" media="screen">

        <link rel="stylesheet" type="text/css" href="~/ConvexTemplate/app-assets/css/app.css">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body data-col="2-columns" class=" 2-columns" ng-app="App">
    <div class="wrapper">
        <div data-active-color="white" data-background-color="black" data-image="~/../../../ConvexTemplate/app-assets/img/sidebar-bg/01.jpg" class="app-sidebar">
            <div class="sidebar-header">
                <div class="logo clearfix">
                    <a href="index.html" class="logo-text float-left">
                        <div class="logo-img"><img src="~/ConvexTemplate/app-assets/img/logo.png" alt="Convex Logo" /></div>
                        <span class="text align-middle">EBITLAB</span>
                    </a>
                    <a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block">
                        <i data-toggle="expanded" class="ft-disc toggle-icon"></i>
                    </a>
                    <a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none">
                        <i class="ft-circle"></i>
                    </a>
                </div>
            </div>
            <div class="sidebar-content">
                <div class="nav-container">
                    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                        <li class="has-sub nav-item">
                            <a href="#">
                                <i class="icon-home"></i><span data-i18n="" class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="has-sub nav-item">
                            <a href="#"> <i class="icon-docs"></i><span data-i18n="" class="menu-title">User Actions</span> </a>
                            <ul class="menu-content">
                                <li><a class="menu-item" asp-controller="ExcelUploads" asp-action="Index">Update Excel Data</a></li>
                            </ul>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="has-sub nav-item">
                                <a href="#"> <i class="icon-docs"></i><span data-i18n="" class="menu-title">Administration</span> </a>
                                <ul class="menu-content">
                                    <li><a class="menu-item" asp-controller="Users" asp-action="Index">User Management</a></li>
                                    @*<li><a class="menu-item" asp-area="Identity" asp-page="/Account/Register">Register User</a></li>*@
                                    <li><a class="menu-item" asp-controller="ExcelUploads" asp-action="Index">UploadExcel</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="sidebar-background"></div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" class="navbar-toggle d-lg-none float-left">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="d-lg-none navbar-right navbar-collapse-toggle">
                        <a class="open-navbar-container"><i class="ft-more-vertical"></i></a>
                    </span>
                    <a id="navbar-fullscreen" href="javascript:;" class="mr-2 display-inline-block apptogglefullscreen">
                        <i class="ft-maximize blue-grey darken-4 toggleClass"></i>
                        <p class="d-none">fullscreen</p>
                    </a>
                </div>
                <div class="navbar-container">
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>


        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <div body-content">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer footer-static footer-light">
                <p class="clearfix text-muted text-center px-2">
                    <span>
                        Copyright  &copy; @DateTime.Now.Year
                        <a href="@Url.Content("/Home")" id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2">ElementBitLab </a>, All rights reserved.
                    </span>
                </p>
            </footer>
        </div>
        @*<partial name="_CookieConsentPartial" />*@
        <environment include="Development">
            <!-- BEGIN VENDOR JS-->
            <script src="~/ConvexTemplate/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.core.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/handsontable@7.0.3/dist/handsontable.full.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ngHandsontable/0.13.0/ngHandsontable.min.js"></script>

            <script src="~/ConvexTemplate/app-assets/vendors/js/core/popper.min.js"></script>
            <script src="~/ConvexTemplate/app-assets/vendors/js/core/bootstrap.min.js"></script>
            <script src="~/ConvexTemplate/app-assets/vendors/js/perfect-scrollbar.jquery.min.js"></script>
            <script src="~/ConvexTemplate/app-assets/vendors/js/prism.min.js"></script>
            <script src="~/ConvexTemplate/app-assets/vendors/js/jquery.matchHeight-min.js"></script>
            <script src="~/ConvexTemplate/app-assets/vendors/js/screenfull.min.js"></script>
            <script src="~/ConvexTemplate/app-assets/vendors/js/pace/pace.min.js"></script>
            <!-- BEGIN VENDOR JS-->
            <!-- BEGIN PAGE VENDOR JS-->
            <script src="~/ConvexTemplate/app-assets/vendors/js/chartist.min.js"></script>
            <!-- END PAGE VENDOR JS-->
            <!-- BEGIN CONVEX JS-->
            <script src="~/ConvexTemplate/app-assets/js/app-sidebar.js"></script>
            <script src="~/ConvexTemplate/app-assets/js/notification-sidebar.js"></script>

            <script src="~/ConvexTemplate/app-assets/vendors/js/datatable/datatables.min.js"></script>
            <script src="~/ConvexTemplate/app-assets/js/data-tables/datatable-basic.js"></script>
            <!-- END CONVEX JS-->
            <!-- BEGIN PAGE LEVEL JS-->
            <script src="~/ConvexTemplate/app-assets/js/dashboard-analytics.js"></script>
            <!-- END PAGE LEVEL JS-->
            <script type="text/javascript" src="~/js/Directives/ImportSheet/importSheetJs.js"></script>
            <script type="text/javascript" src="~/js/Directives/Pagination/dirPagination.js"></script>
            <script type="text/javascript" src="~/js/Utils/utils.js"></script>
            <script type="text/javascript" src="~/js/App/mainApp.js"></script>
            <script type="text/javascript" src="~/js/App/ExcelUploads/UploadExcel.js"></script>
            <script type="text/javascript" src="~/js/App/Users/usersManager.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <!-- BEGIN VENDOR JS-->
            <script src="~/ConvexTemplate/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.core.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/handsontable@7.0.3/dist/handsontable.full.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ngHandsontable/0.13.0/ngHandsontable.min.js"></script>

            <script src="~/ConvexTemplate/app-assets/vendors/js/core/popper.min.js"></script>
            <script src="~/ConvexTemplate/app-assets/vendors/js/core/bootstrap.min.js"></script>
            <script src="~/ConvexTemplate/app-assets/vendors/js/perfect-scrollbar.jquery.min.js"></script>
            <script src="~/ConvexTemplate/app-assets/vendors/js/prism.min.js"></script>
            <script src="~/ConvexTemplate/app-assets/vendors/js/jquery.matchHeight-min.js"></script>
            <script src="~/ConvexTemplate/app-assets/vendors/js/screenfull.min.js"></script>
            <script src="~/ConvexTemplate/app-assets/vendors/js/pace/pace.min.js"></script>
            <!-- BEGIN VENDOR JS-->
            <!-- BEGIN PAGE VENDOR JS-->
            <script src="~/ConvexTemplate/app-assets/vendors/js/chartist.min.js"></script>
            <!-- END PAGE VENDOR JS-->
            <!-- BEGIN CONVEX JS-->
            <script src="~/ConvexTemplate/app-assets/js/app-sidebar.js"></script>
            <script src="~/ConvexTemplate/app-assets/js/notification-sidebar.js"></script>

            <script src="~/ConvexTemplate/app-assets/vendors/js/datatable/datatables.min.js"></script>
            <script src="~/ConvexTemplate/app-assets/js/data-tables/datatable-basic.js"></script>
            <!-- END CONVEX JS-->
            <!-- BEGIN PAGE LEVEL JS-->
            <script src="~/ConvexTemplate/app-assets/js/dashboard-ecommerce.js"></script>
            <!-- END PAGE LEVEL JS-->
            <script type="text/javascript" src="~/js/Directives/ImportSheet/importSheetJs.js"></script>
            <script type="text/javascript" src="~/js/Directives/Pagination/dirPagination.js"></script>
            <script type="text/javascript" src="~/js/Utils/utils.js"></script>
            <script type="text/javascript" src="~/js/App/mainApp.js"></script>
            <script type="text/javascript" src="~/js/App/ExcelUploads/UploadExcel.js"></script>
            <script type="text/javascript" src="~/js/App/Users/usersManager.js"></script>

            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
